<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li role="presentation"
          routerLinkActive="active">
        <a href="#">Home</a>
      </li>
      <li role="presentation"
          routerLinkActive="active">
        <a href="#">Users</a>
      </li>
      <li role="presentation"
          routerLinkActive="active">
        <a href="#">Orders</a>
      </li>
      <li role="presentation"
          routerLinkActive="active">
        <a routerLink="stores"> Stores</a>
      </li>
    </ul>
  </div>
</nav>
