
<h4>Edit</h4>

<div class="col-md-6 form-group">
  <label for="orderName">Order Name</label>
  <input type="text"
         id="orderName"
         class="form-control"
         [value]="currentOrder.orderName"
         #orderNameInput />
</div>
<div class="col-md-6 form-group">
  <label for="pickupName">Pickup Name</label>
  <input type="text"
         id="pickupName"
         class="form-control"
         [value]="currentOrder.pickupName"
         #pickupNameInput />
</div>
<div class="col-md-6 form-group">
  <label for="phoneNumber">Phone Number</label>
  <input type="number"
         id="phoneNumber"
         class="form-control"
         [value]="currentOrder.phoneNumber"
         #phoneNumberInput />
</div>
<div class="col-md-6 form-group">
  <label for="orderType">Order Type</label>
  <input type="text"
         id="orderType"
         class="form-control"
         [value]="currentOrder.orderType"
         #orderTypeInput />
</div>

<div class="col-md-12">
  <button class="btn btn-primary" (click)="onEditOrder(orderNameInput, pickupNameInput, phoneNumberInput, orderTypeInput)">Save Changes</button>
  <button class="btn btn-danger">Delete Order</button>
</div>
