
<h4>Edit</h4>
<div class="col-md-6 form-group">
  <label for="orderName">Order Name</label>
  <input type="text"
         id="orderName"
         class="form-control"
         [value]="currentOrder.orderName"
         #orderNameInput />
</div>
<div class="col-md-6 form-group">
  <label for="pickupName">Pickup Name</label>
  <input type="text"
         id="orderName"
         class="form-control"
         [value]="currentOrder.orderName"
         #orderNameInput />
</div>
<div class="col-md-6 form-group">
  <label for="orderName">Order Name</label>
  <input type="text"
         id="orderName"
         class="form-control"
         [value]="currentOrder.orderName"
         #orderNameInput />
</div>
<div class="col-md-6 form-group">
  <label for="orderName">Order Name</label>
  <input type="text"
         id="orderName"
         class="form-control"
         [value]="currentOrder.orderName"
         #orderNameInput />
</div>
<p>{{ currentOrder.pickupName }}</p>
<p>{{ currentOrder.orderName }}</p>
<p>{{ currentOrder.orderType }}</p>
<p>{{ currentOrder.phoneNumber }}</p>
